* {
  padding: 3px;
}

body{
  background-color: #f4f4f4 !important;
}

.container {
  background-color: #CCFFCC;
  margin: 0px;
  padding: 0px;
  outline: 1px solid black;
}

.loan-calculator {
  background-color: #CCCCFF;
  border-bottom: 2px solid black;
}

.row {
  /* outline: 1px solid red; */
}

label {
  border-bottom: 1px solid black;
  width: 8rem;
}

input {
  border: 1px solid grey;
}
input:focus, textarea:focus, select:focus {
  /* border: 1px solid #555; */
  outline: none;
}



#loan_amount {
  min-width: 50%;
}
#interest_rate {
  min-width: 50%;
}

#months_to_pay {
  min-width: 50%;
}
